Source: jarvis
Section: unknown
Priority: optional
Maintainer: Aryan Misra <aryanmisra4@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/jarvis
#Vcs-Git: https://salsa.debian.org/debian/jarvis.git

Package: jarvis
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
